html {
    font-family: sans;
}

.math-elem {
    font-family: sans;
    -moz-user-select: none;
    user-select: none;
    width: fit-content;
}

div.math-elem-Sum,
div.math-elem-Negation,
div.math-elem-Product,
div.math-paren-container,
div.math-elem-Sum > div
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

div.math-elem-Power {
    display: flex;
    flex-direction: row;
}

/*span.math-sign {
    margin-left: 0.2em;
    margin-right: 0.2em;
}*/

/* display a+b instead of +a+b */
div.math-elem-Sum > div:first-child > span.math-sign-plus {
    display: none;
}

/*  add a gap between x and -y of x-y, so that it's clear that if x and -y are
    both selected, that's different from having the whole x-y selected */
div.math-elem-Sum > div { margin-left: 0.2em; }
span.math-sign { margin-right: 0.2em; }

/* similarly for xy */
div.math-elem-Product > * { margin-left: 0.05em; margin-right: 0.05em; }

div.math-elem-Power > *:first-child {
    margin-top: 1.3ex;
}

div.math-elem-Power > *:last-child {
    font-size: smaller;
}

/* this matches the parens */
.math-paren-container > span:first-child, .math-paren-container > span:last-child {
    font-size: 2.4ex;
}

.math-elem-selected {
    background-color: #afa;
}

.modal-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.modal-dialog-container.hidden {
    display: none;
}

.modal-dialog-container > div {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.5em;
    min-width: 25em;
    min-height: 25em;
}

.modal-dialog-container > div > * {
    margin: 1em;
}

.modal-dialog-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-dialog-top-bar {
    display: flex;
}

.modal-dialog-title {
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog-close-button {
    align-self: center;
    padding: 0.5em;
}

.modal-dialog-button-area {
    display: flex;
    padding: 0.5em;
    border-radius: 1.5em;
    background-color: #9f9;
    justify-content: space-evenly;
}

.modal-dialog-button-area > button {
    font-size: 1.2em;
    margin: 1em;
    width: 6em;
}

.asciimath-edit-error-message {
    background-color: #f99;
    padding: 1em;
    border-radius: 0.5em;
    width: 20em;
}

.asciimath-edit {
    align-self: stretch;
    font-family: monospace;
}

.asciimath-edit + * {
    margin-top: 1em;
}
