.math-elem {
    font-family: sans;
    -moz-user-select: none;
    user-select: none;
}

div.math-elem-Sum, div.math-elem-Product, div.math-paren-container, div.math-elem-Sum > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

div.math-elem-Power {
    display: flex;
    flex-direction: row;
}

/*span.math-sign {
    margin-left: 0.2em;
    margin-right: 0.2em;
}*/

/* display a+b instead of +a+b */
div.math-elem-Sum > div:first-child > span.math-sign-plus {
    display: none;
}

/*  add a gap between x and -y of x-y, so that it's clear that if x and -y are
    both selected, that's different from having the whole x-y selected */
div.math-elem-Sum > div { margin-left: 0.2em; }
span.math-sign { margin-right: 0.2em; }

/* similarly for xy */
div.math-elem-Product > * { margin-left: 0.05em; margin-right: 0.05em; }

div.math-elem-Power > *:first-child {
    margin-top: 1.3ex;
}

div.math-elem-Power > *:last-child {
    font-size: smaller;
}

/* this matches the parens */
.math-paren-container > span:first-child, .math-paren-container > span:last-child {
    font-size: 2.4ex;
}

.math-elem-selected {
    background-color: #afa;
}
