.math-elem {
    font-family: sans;
    -moz-user-select: none;
    user-select: none;
}

div.math-elem-Sum, div.math-elem-Product, div.math-paren-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

div.math-elem-Power {
    display: flex;
    flex-direction: row;
}

div.math-elem-Sum > span.math-sign {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/* display x^2+2x instead of +x^2+2x */
div.math-elem-Sum > span.math-sign-plus:first-child {
    display: none;
}

div.math-elem-Power > *:first-child {
    margin-top: 1.3ex;
}

div.math-elem-Power > *:last-child {
    font-size: smaller;
}

/* this matches the parens */
.math-paren-container > span:first-child, .math-paren-container > span:last-child {
    font-size: 2.4ex;
}
