.math-elem {
    font-family: sans;
}

div.math-elem-Sum, div.math-elem-Product, div.math-paren-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

div.math-elem-Power {
    display: flex;
    flex-direction: row;
}

div.math-elem-Sum > span.math-sign {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/* display x^2+2x instead of +x^2+2x */
div.math-elem-Sum > span.math-sign-plus:first-child {
    display: none;
}

div.math-elem-Power > *:first-child {
    margin-top: 1.3ex;
}

div.math-elem-Power > *:last-child {
    font-size: smaller;
}

img.math-lparen {
    transform: rotate(90deg);
}
img.math-rparen {
    transform: rotate(-90deg);
}
img.math-lparen, img.math-rparen {
    width: auto;
    height: 0.6ex;
    margin-left: -0.8ex;
    margin-right: -0.8ex;
}
